<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div>
  <%= t('.you_answered_percent_correct') %>:

  <% if @test_passage.passed? %>

 <p style="color:green;"><%= @test_passage.success_rate %></p>
  <%= t('.you_passed_the_test') %>
  
  <% else %>

  <p style="color:red;"><%= @test_passage.success_rate %></p>
  <%= t('.you_didnot_pass_the_test') %>

  <% end %>
</div>
<br>

<%= link_to t('shared.all_tests'), tests_path %>
