<tr>
  <td><%= answer.body %>
  <td><%= answer.correct ? octicon('check') : octicon('x') %></td>	
  <td><%= link_to t('shared.show'), admin_answer_path(answer) %></td>
  <td><%= link_to t('shared.edit'), edit_admin_answer_path(answer) %></td> 
  <td>
    <%= link_to t('shared.delete'), 
                admin_answer_path(answer), method: :delete, 
                data: { confirm: t('confirm_delete')  } %>
  </td><br>              
</tr>
