<h2><%= t('.header') %>:</h2>

<%= @answer.question.body %>  

<p>
  <b><%= t('.answer') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %>:</b>
  <%= @answer.correct %>
</p>  

<%= link_to t('shared.back'), admin_question_path(@answer.question) %>
