<div class="row justify-content-center mt-3">
  <div class="col col-md-12">
    <%= t('.body') %>: <%= @question.body %> | 

    <%= link_to t('shared.edit'), edit_admin_question_path(@question) %>
    <%= link_to t('shared.back'), admin_test_path(@question.test_id) %>

    <hr />

    <%=link_to t('.create'), new_admin_question_answer_path(@question) %>


    <table class="table table-striped">
      <thead>
        <th><%= t('.answers')%></th>
      </thead>
      <tbody>
        <%= render @question.answers %>
      </tbody>
    </table> 
  </div>
</div>
