<h1><%= @question.test.title %> </h1>

<p>
  <strong><%= t('.body') %>: </strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers')%></h2>

<%=link_to t('.create'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('shared.edit'), edit_admin_question_path(@question) %>
<%= link_to t('shared.back'), admin_test_path(@question.test_id) %>
