<div class="row justify-content-center mt-3">
  <div class="col col-md-12">
   <%= t('.title') %> : <%= @test.title %> | 
   <%= t('.level') %> : <%= @test.level %>| 
   <%= t('.timer') %> : <%= @test.timer %>|

    <%= link_to t('shared.edit'), edit_admin_test_path(@test) %>
    <%= link_to t('shared.back'), admin_tests_path %>

    <hr />

    <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>


    <table class="table table-striped">
      <thead>
        <th><%= t('.questions') %></th>
      </thead>
      <tbody>
        <%= render @test.questions %>
      </tbody>
    </table> 
  </div>
</div>
